@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');

body {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url('../img/typewriter.jfif') no-repeat left top;
    background-size: cover;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3em;
}

#game {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
        url('../img/notebook.jpg');
    border: 5px solid #000;
    border-radius: 25px;
    height: 90vh;
    width: 45vw;
    padding: 0;
    position: relative;
    overflow: hidden;
    text-align: center;
}

input:where([type='checkbox'], [type='radio']) {
    -webkit-appearance: value;
    -moz-appearance: value;
    appearance: value;
    width: 20px;
    height: 20px;
    vertical-align: top;
    border: 2px solid #ddd;
    border-radius: 4px;
    background: #fff no-repeat center center;
    accent-color: darkgreen;
}

#setup {
    background-color: rgb(204, 84, 87);
    width: 300px;
    height: 350px;
    text-align: left;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-top: -175px;
    margin-left: -175px;
    padding: 15px;
    display: initial;
}

#btnEnter {
    cursor: pointer;
}

.keyboardkey {
    box-shadow: rgb(132 132 132 / 0.16) 1px 1px 4px 1px;
    text-shadow: none;
    font-weight: bold;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 14px;
    padding: 0.2em 1em;
    border: 1px solid;
    border-color: #d6d6d6 #b4b4b4 #b4b4b4 #d6d6d6;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #f2f2f2;
    background-image: -moz-linear-gradient(top, #fcfcfc, #e0e0e0);
    background-image: -o-linear-gradient(top, #fcfcfc, #e0e0e0);
    background-image: -webkit-linear-gradient(top, #fcfcfc, #e0e0e0);
    background-image: linear-gradient(top, #fcfcfc, #e0e0e0);
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

#btnEnter:active {
    border: 3px solid white;
    user-select: none;
    -moz-user-select: none;
}

#setup h3 {
    line-height: 1.5;
}

#player {
    object-fit: scale-down;
    position: absolute;
    border-radius: 15px;
    top: 45%;
    left: 50%;
    height: 6%;
    width: auto;
    object-fit: fill;
    margin-top: -25px;
    margin-left: -25px;
    overflow: hidden;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    display: none;
}

#gameover {
    object-fit: scale-down;
    position: absolute;
    border-radius: 15px;
    top: 45%;
    left: 50%;
    height: 300px;
    width: auto;
    object-fit: fill;
    margin-top: -125px;
    margin-left: -200px;
    display: none;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: rotation;
    animation-name: rotation;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@keyframes rotation {
    from {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

#panel {
    background: rgb(204, 84, 87);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: flex-start;
    padding: 0;
}

#panel span {
    font-size: 0.8em;
}

.word {
    font-size: 1em;
    color: red;
    position: absolute;
    text-align: center;
}

.bullet {
    background-color: rgb(204, 84, 87);
    border: 1px solid grey;
    position: fixed;
    transform: rotate(45deg);
}

.box {
    font-size: 1.1em;
}

.typearea {
    width: 40%;
    height: 30px;
    flex-grow: 3;
}

.score,
.health {
    width: 20%;
    height: 30px;
    flex-grow: 1;
    text-align: right;
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 2em;
    }
    #game {
        width: 70vw;
    }
    #panel span {
        font-size: 0.8em;
    }
    .box {
        font-size: 1em;
    }
    .word {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 500px) {
    h1 {
        font-size: 1.2em;
    }
    #game {
        width: 95vw;
    }
    #panel span {
        font-size: 0.6em;
    }
    .box {
        font-size: 0.8em;
    }
    .word {
        font-size: 0.6em;
    }
}
